<template>
  <div class="reset">
    <section class="section">
      <h1 class="section__header">
        Temperature settings
      </h1>

      <main class="section__main">
        <toggler value="isAirConditionOn" @input="changeAirCondition">Air Condition</toggler>

        <nav class="pills" :class="{ 'pills--is-disabled': !isAirConditionOn }">
          <ul class="pills__list" spatnav-direction="row" focus-child :tabindex="isAirConditionOn ? -1 : false">
            <li class="pills__item" v-for="n in (temperatureMax - temperatureMin + 1)" :key="n">
              <button class="pills__button"
                      :class="{ 'pills__button--is-active': n === roomTemperature }"
                      :disabled="!isAirConditionOn"
                      @click="setTemperature(n)">

                {{ 16 + n }} <sup class="pills__sup">℃</sup>
              </button>
            </li>
          </ul>
        </nav>
      </main>
    </section>

    <section class="section">
      <h1 class="section__header">
        Light modes
      </h1>

      <main class="section__main">
        <nav class="pills">
          <ul class="pills__list" spatnav-direction="row" focus-child tabindex="-1">
            <li class="pills__item">
              <button class="pills__button pills__button--has-icon"
                      :class="{ 'pills__button--is-active': roomLight === 'darkness' }"
                      @click="setLight('darkness')">

                <div class="pills__icon"><light-darkness-icon/></div> Darkness
              </button>
            </li>

            <li class="pills__item">
              <button class="pills__button pills__button--has-icon"
                      :class="{ 'pills__button--is-active': roomLight === 'moonlight' }"
                      @click="setLight('moonlight')">

                <div class="pills__icon"><light-moonlight-icon/></div> Moonlight
              </button>
            </li>

            <li class="pills__item">
              <button class="pills__button pills__button--has-icon"
                      :class="{ 'pills__button--is-active': roomLight === 'dawn' }"
                      @click="setLight('dawn')">

                <div class="pills__icon"><light-dawn-icon/></div> Dawn
              </button>
            </li>

            <li class="pills__item">
              <button class="pills__button pills__button--has-icon"
                      :class="{ 'pills__button--is-active': roomLight === 'sunny' }"
                      @click="setLight('sunny')">

                <div class="pills__icon"><light-sunny-icon/></div> Sunny
              </button>
            </li>
          </ul>
        </nav>
      </main>
    </section>
  </div>
</template>

<script>
import Toggler from '@/components/Toggler'
import LightDarknessIcon from '@/assets/light-1.svg'
import LightMoonlightIcon from '@/assets/light-2.svg'
import LightDawnIcon from '@/assets/light-3.svg'
import LightSunnyIcon from '@/assets/light-4.svg'
import { mapGetters } from 'vuex'

export default {
  components: {
    Toggler,
    LightDarknessIcon,
    LightMoonlightIcon,
    LightDawnIcon,
    LightSunnyIcon
  },
  computed: {
    ...mapGetters(['isAirConditionOn', 'roomTemperature', 'roomLight'])
  },
  data() {
    return {
      temperatureMin: 17,
      temperatureMax: 25
    }
  },
  name: 'HelloWorld',
  methods: {
    changeAirCondition(value) {
      if (value) {
        this.$store.commit('turnOnAirCondition')
      } else {
        this.$store.commit('turnOffAirCondition')
      }
    },
    setTemperature(n) {
      this.$store.commit('setRoomTemperature', n)
    },
    setLight(value) {
      this.$store.commit('setRoomLight', value)
    }
  }
}
</script>
