<template>
  <div class="toggler" :class="{ 'toggler--is-on': isOn, 'toggler--is-focus-on': isFocusOn }">
    <label class="toggler__label">
      <input class="toggler__input"
             type="checkbox"
             v-model="isOn"
             @focus="focus"
             @blur="blur">

      Air Condition
    </label>

    <div class="toggler__widget" @click="isOn = !isOn">
      <div class="toggler__inner"></div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      isOn: false,
      isFocusOn: false
    }
  },
  methods: {
    blur() {
      this.isFocusOn = false
    },
    focus() {
      this.isFocusOn = true
    }
  },
  name: 'Toggler',
  props: {
    value: false
  },
  watch: {
    isOn(newValue) {
      this.$emit('input', newValue)
    },
    value(newValue) {
      this.isOn = newValue
    }
  }
}
</script>
