<template>
  <div class="app" id="app">
    <header class="app__header">
      Room Settings

      <div class="app__datetime">
        {{ currentDate }}  <strong class="app__time">{{ currentTime }}</strong>
      </div>
    </header>

    <main class="app__main">
      <HelloWorld/>
    </main>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import moment from 'moment'

export default {
  components: {
    HelloWorld
  },
  created() {
    setInterval(() => {
        this.currentDate = moment().format('dddd, DD MMMM YYYY')
        this.currentTime = moment().format('HH:mm')
    }, 1000)
  },
  data() {
    return {
      currentDate: null,
      currentTime: null
    }
  },
  name: 'app'
}
</script>

<style lang="scss" src="./scss/index.scss"></style>