@mixin reset {
  display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
  background: none;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: inherit;
  line-height: inherit;
  font-weight: inherit;
}
