@import "reset";
@import url('https://fonts.googleapis.com/css?family=Encode+Sans:300,400,700');

body {
  @include reset;
}

.reset {
  @include reset;
}

.app {
  $block: &;

  @include reset;

  background-image: url('../assets/bg.jpg');
  background-size: cover;
  min-height: 100vh;
  padding: 35px;
  display: flex;
  flex-direction: column;

  &__header {
    @include reset;

    font-size: 32px;
    font-family: "Encode Sans", sans-serif;
    line-height: 40px;
    color: #fff;
    display: flex;
    font-weight: 500;
  }

  &__datetime {
    @include reset;

    margin-left: auto;
    width: auto;
    font-size: 24px;
    font-weight: 300;
  }

  &__time {
    @include reset;

    display: inline;
    font-weight: 700;
  }

  &__main {
    @include reset;

    flex-grow: 1;
    padding: 50px 0;
    align-items: center;
    display: flex;
  }
}

.section {
  $block: &;

  @include reset;

  & + & {
    margin-top: 80px;
  }

  &__header {
    @include reset;

    font-size: 52px;
    font-family: "Encode Sans", sans-serif;
    color: #fff;
    font-weight: 500;
  }

  &__main {
    @at-root #{$block}__header + & {
      margin-top: 40px;
    }
  }
}

.pills {
  $block: &;
  $gutter: 20px;
  $per-row: 9;

  @include reset;

  margin-top: 40px;

  &__list {
    @include reset;

    margin: -#{$gutter} -#{$gutter} 0 0;
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    @include reset;

    padding: $gutter $gutter 0 0;
    width: (100% / $per-row);
  }

  &__button {
    @include reset;

    border-radius: 5px;
    border: 3px solid rgba(255, 255, 255, .32);
    display: flex;
    font-size: 52px;
    font-family: "Encode Sans", sans-serif;
    font-weight: 700;
    padding: 30px 0;
    color: #fff;
    align-items: center;
    justify-content: center;
    min-height: 157px;

    &:focus {
      color: #fff;
      border-color: #fff;
    }

    &--has-icon {
      font-size: 20px;
      min-height: 207px;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    &--is-active:not(:disabled) {
      color: #4b3556 !important;
      background: #fff;

      #{$block}__icon * {
        fill: #4b3556;
        opacity: 1;
      }
    }
  }

  &__sup {
    @include reset;

    font-size: 50%;
    width: auto;
    padding: 0 0 15px 10px;
  }

  &__icon {
    @include reset;

    width: auto;
    flex-grow: 1;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--is-disabled {
    #{$block}__button {
      color: rgba(255, 255, 255, .32);
    }
  }
}

.toggler {
  $block: &;

  @include reset;

  display: flex;
  align-items: center;
  font-size: 22px;
  font-family: "Encode Sans", sans-serif;
  font-weight: 700;
  color: #fff;

  &__label {
    margin-right: 10px;
  }

  &__widget {
    @include reset;

    border: 3px solid transparent;
    border-radius: 999px;
    display: flex;
    width: auto;
  }

  &__input {
    position: fixed;
    top: -100%;
    left: -100%;
    opacity: 0;
  }

  &__inner {
    @include reset;

    margin: 5px;
    background: #c64141;
    border-radius: 999px;
    display: flex;
    transition: 150ms;
    width: 81px;

    &:after {
      @include reset;

      content: '';
      height: 35px;
      width: 35px;
      margin: 5px;
      background: #fff;
      border-radius: 100%;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, .5);
      transition: 250ms;
    }
  }

  &--is-on {
    #{$block}__inner {
      background: #62a450;

      &:after {
        margin-left: calc(100% - 40px);
      }
    }
  }

  &--is-focus-on {
    #{$block}__widget {
      border-color: rgba(255, 255, 255, .5);
    }
  }
}